@model IEnumerable<SfiziAmerica.EntityLayer.Model.CateringMenu>
@{
    ViewData["Title"] = "Catering Menu List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="/PageJs/cateringMenu.js"></script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Catering Menu List</h4>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Catering</th>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Catering.Title</td>
                                <td>@item.Title</td>
                                <td><img src="/Image/Catering/@item.ImageUrl1" width="100" /></td>
                                @if (item.IsActive)
                                {
                                    <td>Active</td>
                                }
                                else
                                {
                                    <td>Passive</td>
                                }
                                <td>
                                    <a href="/admin/catering-menu-guncelle/@item.ID" class="btn btn-sm btn-primary"><i class='fa fa-edit'></i></a>
                                    <button data-id="@item.ID" class="btn btn-danger btn-sm btnDelete"><i class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- end row -->