@model SfiziAmerica.EntityLayer.Model.Logo
@if(Model!=null)
{
    <a href="/" class="logo-holder ajax"><img src="/Image/Logo/@Model.LogoUrl" alt="@Model.ImageAltTag"></a>
}
else
{
    <a href="/" class="logo-holder ajax"><img src="/Site/sfizi-logo.png" alt="Sfizi Cafe"></a>
}