@model SfiziAmerica.EntityLayer.Model.About
@if(Model!=null)
{
    <div class="footer-widget-content">
        <p>@Model.ShortDescription</p>
        <a href="/about" class="footer-widget-content-link">Read more</a>
    </div>
}