@model SfiziAmerica.EntityLayer.Model.ContactInformation
@if(Model!=null)
{
    <div class="header-top_contacts"><a href="@Model.Phone"><span>Call now:</span> +@Model.Phone</a><a href="mailto:@Model.Email"><span>Write :</span> Sfizi</a></div>
}