@model IEnumerable<SfiziAmerica.EntityLayer.Model.HR>
@{
    ViewData["Title"] = "Human Resources Form List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
        <script src="/PageJs/hrForm.js"></script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Human Resources Form List</h4>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Özgeçmiş</th>
                            <th>Adı Soyadı</th>
                            <th>E-posta</th>
                            <th>Telefon</th>
                            <th>Statü</th>
                            <th>Okunma Durumu</th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="/Pdf/Resume/@item.Resume" class="btn btn-outline-success"><i class="fa fa-file"></i>PDF</a></td>
                                <td>@item.NameSurname</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                @if (item.IsActive)
                                {
                                    <td>Aktif</td>
                                }
                                else
                                {
                                    <td>Pasif</td>
                                }
                                @if (item.IsRead)
                                {
                                    <td>Okundu</td>
                                }
                                else
                                {
                                    <td>Okunmadı</td>
                                }
                                <td>
                                    <a href="/admin/hr-formu-detayi/@item.ID" class="btn btn-sm btn-warning"><i class='fa fa-eye'></i></a>
                                    <button data-id="@item.ID" class="btn btn-danger btn-sm btnDelete"><i class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- end row -->