@{
    ViewData["Title"] = "Add New About";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="/PageJs/addAbout.js"></script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Yeni Hakkımızda Ekle</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="form-submit">
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Resim</label>
                                <input type="file" class="form-control" name="ImageUrl" required accept="image/*">
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Başlık</label>
                                <input required class="form-control" name="Title" type="text" placeholder="Please Enter About Title">
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Kısa Açıklama</label>
                                <textarea class="form-control" name="ShortDescription" placeholder="Please Enter Short Description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Açıklama</label>
                                <textarea id="Description" class="form-control ckeditor" name="Description" required placeholder="Please Enter Description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Statü</label>
                                <select required name="IsActive" class="form-select">
                                    <option value="1">Active</option>
                                    <option value="0">Passive</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-success d-inline-block"><i class="fa fa-check"></i> Yeni Hakkımızda Ekle</button>
                                <a href="/admin/hakkimizda-listele" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                            </div>
                        </form>
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div><!-- end col -->
</div>
<!-- end row -->