@model SfiziAmerica.WebUIandUX.Areas.Admin.ViewModel.updateAboutViewModel
@{
    ViewData["Title"] = "Yeni Hakkımızda Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script>
        CKEDITOR.replace('Description');
        CKEDITOR.instances.Description.setData(`@Html.Raw(Model.About.Description)`);
    </script>
    <script src="/PageJs/updateAbout.js"></script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Update New About</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="form-submit">
                            <input hidden name="ID" value="@Model.About.ID" />
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Resim</label>
                                <input type="file" class="form-control" name="ImageUrl" accept="image/*">
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Başlık</label>
                                <input required value="@Model.About.Title" class="form-control" name="Title" type="text">
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Kısa Açıklama</label>
                                <textarea class="form-control" name="ShortDescription">@Model.About.ShortDescription</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Açıklama</label>
                                <textarea id="Description" class="form-control ckeditor" name="Description" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Statü</label>
                                <select required name="IsActive" class="form-select">
                                    @if (Model.About.IsActive == true)
                                    {
                                        <option selected value="1">Aktif</option>
                                        <option value="0">Pasif</option>
                                    }
                                    else
                                    {
                                        <option value="1">Aktif</option>
                                        <option selected value="0">Pasif</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-primary d-inline-block"><i class="fa fa-edit"></i> Yeni Hakkımızda Güncelle</button>
                                <a href="/admin/hakkimizda-listele" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                            </div>
                        </form>
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div><!-- end col -->
</div>
<!-- end row -->