@model IEnumerable<SfiziAmerica.EntityLayer.Model.ApplicationForm>
@{
    ViewData["Title"] = "Başvuru Formu Listele";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="/PageJs/applicationForm.js"></script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Başvuru Formu Listele</h4>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Adı soyadı</th>
                            <th>Bilgi</th>
                            <th>Status</th>
                            <th>Read Status</th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NameSurname</td>
                                <td>@item.Email<br />@item.Phone</td>
                                @if (item.IsActive)
                                {
                                    <td>Aktif</td>
                                }
                                else
                                {
                                    <td>Pasif</td>
                                }
                                @if (item.IsRead)
                                {
                                    <td>Okundu</td>
                                }
                                else
                                {
                                    <td>Okunmadı</td>
                                }
                                <td>
                                    <a href="/admin/basvuru-formu-detayi/@item.ID" class="btn btn-sm btn-warning"><i class='fa fa-eye'></i></a>
                                    <button data-id="@item.ID" class="btn btn-danger btn-sm btnDelete"><i class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- end row -->